body {
	background-color: rgb(185, 179, 175);
	padding-bottom: 70px;
}

h1, h4 {
	text-align: center;
	font-family: Arial; }

ol {
    display: table;
    margin: 0 auto;
    text-align: center; }

#submitButton, #result {
	text-align: center;
	color: #5a514c; }

#emptyGradeField, #emptyWeightField {
    border: 1px solid #ff2d2d;
}

#errorMessage {
    text-align: center;
    color: #ff2d2d;
}

.logo {
	float :left;
}
